

.cf:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1000px;
	margin: 0 auto;
}
 /*HEADER*/


/*HOME PAGINA CONTENT*/


/*FOOTER*/

.main-footer {
	background-color: #FF6A6A;
	color: white;
	padding: 1rem 0;
	text-align:center;
}



/*KLEUREN

LOGO KLEUR #FF6A6A



*/