/*@import url("https://use.typekit.net/acr7qdb.css");
 @import url("https://use.typekit.net/lvz2dky.css");*/
@import url("https://use.typekit.net/acr7qdb.css");

.cf:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: "Proxima Nova", sans-serif;
    margin: 0; 
    padding: 0;
    /*background-color: #EBEAEA*/
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

.logo img {
    width: 50%;

}

header {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em 0
}

.main-nav {
    margin-left: auto;
    padding-top: 1em;
    font-weight: bold;
}

/*hr {
	    opacity: 20%;
	    box-shadow: 0px 0px 15px #141414;
	    width: 1300px;
	}*/


/*BUTTON DROPDOWN*/

nav a {
    text-decoration: none;
    color: #FF6A6A;
}

button {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
}

.dropbtn {
    padding: 16px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    b
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;

}

.dropdown-content a {
    color: #FB2F78;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-size: 2rem;
}


a.active {
    background-color: transparent;

}

/*BUTTON*/

button.click {
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid white;
    margin: 2rem;
    color: white;
    border-radius: 2em;
    background-image: linear-gradient(to right, #FB2F78, #FF6A6A);

}

/*HOME PAGINA CONTENT*/

.slogan img {
	width: 70%;
}

.reservatie {
    display: grid;
    justify-items: center;
}

.intro p {
    font-size: 1.5rem;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-weight: 200;
}

section.intro {
    width: 100%;
}

blockquote {
    /*margin: 2rem 0;
	padding: 1rem;*/
}

/*SLIDESHOW*/

.slideshow img {
	width: 1000px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color 
	with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/*AGENDA*/

.event {
    display: flex;
    flex-direction: row;
    border: 1px
}

.event-foto-img {
	width: 30%;
}

/*CONTACT CONTENT*/


.contact.container {}

div.contact .col-left {
    float: left;
    width: 50%;
}

div.contact .col-right {
    float: right;
    width: 50%;
}


.openingsuren-box {}

.contact-box {}

.locatie-box {}

.googlemap-box {}

.prijs-box {}

/*TEKST */

h1 {
    color: #FF6A6A;
    font-family: proxima-nova-condensed, sans-serif;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;
}

p,
td {
    color: #2c2c2c;
    font-size: 1rem;
}

ul {
    list-style: none
}

td {
    padding: 10px 0;
}

.highlight {
    font-weight: bold;
}

.colspan {
    margin-top: 5px;
}

p.subfooter {}

/*RESERVATIE*/

.image {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

img.map {
    max-width: 70%;
    height: auto
}

.map-beschrijving p {
    line-height: 20px;
    padding:
}

/*MEMBERSHIP*/

.member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kaart {
    border: 1px solid black;
    background-color: #333;
    text-align: center;
    width: 25%
}

.kaart h1 {
    padding: .5em 1em 0;
}

.kaart ul li::before {
    content: "\2022";
    color: white;
    display: inline-block;
    font-weight: bold;
    margin-left: -10em;
    width: 2em
}

.kaart ul li {
    color: white;
}

/*FOOTER*/

aside.subfooter {
    margin-top: 2rem;
}

.subfooter {
    background-image: linear-gradient(to right, #FB2F78, #FF6A6A);
    /*background-color: #FF6A6A;*/
    color: white;
}

.subfooter-title {
    font-size: 15px;
    border-bottom: .5px solid white;
}

.subfooter p {
    font-size: 15px;
}

.subfooter-column.left {
    float: left;

}

.subfooter-column.right {
    float: right;
}

.main-footer {
    background-image: linear-gradient(to right, #FB2F78, #FF6A6A);
    /*background-color: #FF6A6A;*/
    color: white;
    padding: .2rem;
    text-align: right;
}

.main-footer p {
    font-size: 12px;
}

.subfooter h1 {
    color: black;
}

.subfooter p {}

/*KLEUREN

LOGO KLEUR #FF6A6A
GRADIENT BUTTON #FB2F78 #FF6A6A 
	background-image: url(../img/gradient-btn.jpg);
    background-repeat:no-repeat;
    background-size: 120px 50px;
    border-radius: 20px;
    border: none;
    cursor:pointer;
    overflow: hidden; 


*/